.grid-calculator {
    display: grid;
    position: absolute;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background-color: gray;
    border-radius: 10px;
}

.grid-calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.grid-calculator > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.two-span {
    grid-column: span 2;
}